.topnav {
  background-color: #ffff;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #8d8b8b;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  color: black;
  border-bottom: 3px solid red;
}
.topnav .active {
  color: black;
  border-bottom: 3px solid red;
}

#navbar-items {
  width: 20%;

  background-color: #4f4f8a;
}
ul#navbar-items li {
  color: #b6b5b5;

  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  display: flex;
  align-items: center;
}

@media (max-width: 780px) {
  #navbar {
    width: 20%;
  }
  #topnavbar {
    width: 80%;
  }
  .text-decoration-none.fs14 {
    font-size: 10px;
  }
  .text-decoration-none .fs13 {
    font-size: 9px;
  }
}
@media (max-width: 430px) {
  #navbar-items,
  #topnavbar {
    width: 100%;
    height: 100%;
  }
  #navbar-items {
    padding: 20px;
  }
  .topnav a {
    font-size: 12px;
    padding: 12px;
  }
}
