.topnav {
  background-color: #ffff;
  overflow: hidden;
}
.far.fa-user-circle {
  font-size: 29px;
  color: #726f6f;
  padding-top: 10px;
}
.input-10 {
  width: 40px;
  color: #4c4c96;
  font-weight: 600;
}
.fas.fa-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightsalmon;
  height: 100%;
}
.topnav a {
  float: left;
  display: block;
  color: #8d8b8b;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.topnav a:hover {
  color: black;
  border-bottom: 3px solid red;
}
.topnav .active {
  color: black;
  border-bottom: 3px solid red;
}
form.example input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 90%;
  height: 36px;
  background: #fff;
}
form.example input[type='text']:focus {
  outline: none;
}
form.example button {
  float: left;
  width: 10%;
  height: 36px;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #4c4c96;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

form.example button:hover {
  background: #0b7dda;
}
form.example::after {
  content: '';
  clear: both;
  display: table;
}

.bg-blight {
  color: #7f7fee;
  font-weight: 600;
}
.bg-bdark {
  color: #4c4c96;
  font-weight: 600;
}
#navbar a {
  color: white;
}
.fas.fa-bars {
  color: white;
}

#navbar-items {
  width: 20%;
  height: 500px;
  background-color: #4f4f8a;
}
ul#navbar-items li {
  color: #b6b5b5;
  padding: 15px 25px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 10px;
  display: flex;
  align-items: center;
}
ul li .fas {
  font-size: 16px;
}
ul#navbar-items li:hover {
  background-color: #21214e;
  color: white;
}
ul li:hover .fas {
  color: #f7910c;
}
#topnavbar {
  width: 80%;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 18px;
  color: white;
}
.fas.fa-times {
  color: red;
}
.fas.fa-check {
  color: greenyellow;
}
.example {
  width: 50%;
}

@media (max-width: 780px) {
  #navbar {
    width: 20%;
  }
  #topnavbar {
    width: 80%;
  }
  .text-decoration-none.fs14 {
    font-size: 10px;
  }
  .text-decoration-none .fs13 {
    font-size: 9px;
  }
}
@media (max-width: 430px) {
  #navbar-items,
  #topnavbar {
    width: 100%;
    height: 100%;
  }
  #navbar-items {
    padding: 20px;
    margin-bottom: 30px;
  }
  .topnav a {
    font-size: 12px;
    padding: 12px;
  }
  #navbar {
    width: 100%;
    background-color: blue;
  }
  .example {
    width: 100%;
  }
  .text-decoration-none.fs14 {
    font-size: 14px;
  }
  .text-decoration-none .fs13 {
    font-size: 13px;
  }
}
@media (max-width: 376px) {
  #navbar-items {
    padding: 20px;
    margin-bottom: 30px;
  }
  .topnav a {
    font-size: 12px;
    padding: 7px;
  }
}
@media (max-width: 320px) {
  .topnav a {
    font-size: 10px;
    padding: 4px;
  }
}
