@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css');
@import '@webpixels/css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7 !important;
}

.form-label {
  font-size: 17px;
  margin: 10px 0;
}

.App {
  text-align: center;
}
